.git
.github
.idea
.vscode

.env
.env.*
!.env.example

**/target
!apps/server/target/
!apps/server/target/layers/
!apps/server/target/layers/**
**/node_modules
**/dist
!apps/web/dist/
!apps/web/dist/**
**/.vite

logs
uploads
*.log
*.sqlite
*.db

README.md
docs
